/*Código que se encarga de generar el estilo de index.html*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'roboto flex';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #32CDD6;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header{
    width: 100%;
    height: 500px;
    background: #EDF5F7;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
    
}

nav > a{
    color: #3D23C0;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

.header img{
    width: 38%;
}

favoritos{
    text-align: right;
}

.cards1{
    display: flex;
    justify-content: space-evenly;
}

.cards1 .card{
    background: #A8A2A4;
    display: flex;
    width: 40%;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.cards1 .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #DAE1ED;
    border-radius: 50%;
    display: block;
}

.cards1 .card > .contenido-texto{
    width: 60%;
}

.cards2{
    display: flex;
    justify-content: space-evenly;
}

.cards2 .card{
    background: #32CDD6;
    display: flex;
    width: 40%;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.cards2 .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #DAE1ED;
    border-radius: 50%;
    display: block;
}

.cards2 .card > .contenido-texto{
    width: 60%;
}

/*For other devices*/
@media screen and (max-width: 1000px){
    .header img{
        width: 80%;
    }

    .cards1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards1 .card{
        width: 90%;
    }

    .cards1 .card:first-child{
        margin-bottom: 30px;
    }

    .cards2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards2 .card{
        width: 90%;
    }

    .cards2 .card:first-child{
        margin-bottom: 30px;
    }
}
