/*Código que se encarga de generar los estilos para los .html*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'roboto flex';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo1{
    color: #211272;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.titulo2{
    color: #3D23C0;
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

header{
    width: 100%;
    height: 25%;
    background: #EDF5F7;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.menu a{
    text-decoration: none;
    display:table-cell;
    border: 1px;
    width: 100px;
    height: 50px;
    text-align: center;
    padding: auto;
    padding-top: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

.menu > a:hover{
    color: #EDF5F7;
    background-color: #3D23C0;
}

.header img{
    width: 38%;
}

section.favoritos > *{
    text-align: left;
}

.cards1{
    display: flex;
    justify-content: space-evenly;
}

.cards1 .card{
    background: #DAE1ED;
    display: flex;
    width: 40%;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.cards1 .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #DAE1ED;
    border-radius: 50%;
    display: block;
}

.cards1 .card > .contenido-texto{
    width: 60%;
}

.cards2{
    display: flex;
    justify-content: space-evenly;
}

.cards2 .card{
    background: #DAE1ED;
    display: flex;
    width: 40%;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.cards2 .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #DAE1ED;
    border-radius: 50%;
    display: block;
}

.cards2 .card > .contenido-texto{
    width: 60%;
}

section.recomendacion > *{
    text-align: right;
}

.recomendacion{
    display: flex;
    justify-content: space-evenly;
}

.Recomendaciones1 .contenedorR{
    display: block;
    width: 150px;
    height: 50px;
    text-align: center;
    padding: auto;
    padding-top: 15px;
    margin: auto;
    justify-content: space-evenly;
}

.Recomendaciones1 .contenedorR > .contenido-texto{
    width: 60%;
}

.Recomendaciones2 .contenedorR{
    display: block;
    width: 150px;
    height: 50px;
    text-align: center;
    padding: auto;
    padding-top: 15px;
    margin: auto;
    justify-content: space-evenly;
}

.Recomendaciones2 .contenedorR > .contenido-texto{
    width: 60%;
}

.botonesR a{
    text-decoration: none;
    display:flow-root;
    border: 1px;
    width: 200px;
    height: 50px;
    text-align: center;
    padding: auto;
    padding-top: 15px;
    margin: auto;
    background-color: #DAE1ED;
}

.botonesR > a:hover{
    color: #EDF5F7;
    background-color: #3D23C0;
}

/*For other devices*/
@media screen and (max-width: 1000px){
    .header img{
        width: 80%;
    }

    .cards1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards1 .card{
        width: 90%;
    }

    .cards1 .card:first-child{
        margin-bottom: 30px;
    }

    .cards2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards2 .card{
        width: 90%;
    }

    .cards2 .card:first-child{
        margin-bottom: 30px;
    }

    .Recomendaciones1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Recomendaciones1 .contenedorR{
        width: 90%;
    }

    .Recomendaciones1 .contenedorR:first-child{
        margin-bottom: 30px;
    }

    .Recomendaciones2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Recomendaciones2 .contenedorR{
        width: 90%;
    }

    .Recomendaciones2 .contenedorR:first-child{
        margin-bottom: 30px;
    }

    .botonesR{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
}


